body {
	margin: 0;
	background-color: #72645b;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

canvas {
	display: block;
}

a, button, input, select {
	pointer-events: auto;
}

#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

#instructions {
	width: 90%;
	height: 90%;
	padding: 16px 20px;
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	color: #aaaaaa;
	text-align: center;
	cursor: pointer;
}

#longtext {
	width: 90%;
	height: 90%;
	padding: 16px 20px;
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	color: #aaaaaa;
	text-align: left;
	cursor: pointer;
}

#blocker2 {
	position: absolute;
	bottom:0;
  right:0;
	width: 5%;
	height: 5%;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}

#help {
	width: 100%;
	height: 100%;
}

#blocker3 {
	position: absolute;
	bottom:0;
  right:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}

#loading {
	width: 90%;
	height: 90%;
	padding: 16px 20px;
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	color: #aaaaaa;
	text-align: center;
	cursor: pointer;
}

button {
		background: #000000;
		border: 0;
		color: #aaaaaa;
		padding: 10px 10px;
		/* text-transform: uppercase; */
		cursor: pointer;
}

#help button {
			background: rgba(0,0,0,0);
}